{% extends "base.html" %}
{% block content %}
    
  
    <div class="site-blocks-cover overlay" style="background-image: url({{ url_for('static', filename='images/award-white.png') }});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">Awards</h1>
            <p class="mt-4">ch Age category (under 13, 15, 17 & 21) will receive the following Prizes & awards</p>
          </div>
        </div>
      </div>
    </div>

       <div class="site-section block-13 bg-primary fixed overlay-primary bg-image" style="background-image: url({{ url_for('static', filename='images/awards.jpg') }}');"  data-stellar-background-ratio="0.5">

      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="text-white">Tournament awards</h2>
          </div>
        </div>

        <div class="row">
          <div class="nonloop-block-13 owl-carousel">
        <div class="item">
          <!-- uses .block-12 -->
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_3.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">Best Midfielder</span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_1.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">Best Defender</span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_2.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">Official Trophy</span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_5.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">Best Goalkeeper</span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- uses .block-12 -->
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_6.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">MVP (most Valuable player)</span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_7.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">Best coach</span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_8.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">Golden boot</span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_9.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">Medals (Gold, Silver and Bronze)</span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- uses .block-12 -->
          <div class="block-12">
            <figure>
              <img src="{{url_for('static', filename='images/award_10.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <div class="text">
              <span class="meta">Tournament Awards </span>
              <div class="text-inner">
                <h2 class="heading mb-3"><a href="#" class="text-black">World Cup Championship</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa, consectetur! Eligendi illo, repellat repudiandae cumque fugiat optio!</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        </div>
      </div>
    </div>
    
    <div class="site-section feature-blocks-1 no-margin-top">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="text-black">Awardees</h2>
          </div>
        </div>
        <!-- partial:index.partial.html -->
        <div class="container">
          <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Photo</th>
                      <th scope="col">Player name</th>
                      <th scope="col">Award</th>
                      <th scope="col">Age</th>
                      <th scope="col">team</th>
                      <th scope="col">Category</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for i in award %}
                    <tr>
                      <td class="w-25">
                          <img src="{{ url_for('static', filename= i.photo )}}" class="img-fluid img-round" alt="Sheep" id="img-round">
                      </td>
                      <td>{{ i.player_name }}</td>
                      <td>{{ i.award_name }}</td>
                      <td>{{ i.age }}</td>
                      <td>{{ i.team }}</td>
                      <td>{{ i.category }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>   
            </div>
          </div>
        </div>
        <hr>
        <style type="text/css">
          
          .img-round{
              border-radius: 50px !important;
              height: 180px;
              width: 180px;
            }
        </style>
        <!-- partial -->
            
          </div>
        </div>
  {% endblock content %}
