{% extends "base.html" %}
{% block content %}

    <div class="site-blocks-cover overlay" style="background-image: url({{url_for('static', filename = 'images/bkg.png')}});">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line"><b>Tournament Rules</b></h1>
            <p class="mt-4">Annual Galeh International Soccer Tournament (AGIST) is a professional tournament and it is led by rules that each team shall follow.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/rules.jpeg') }}" alt="Image" class="img-fluid">" 
          </div>
          <div class="col-md-6 pl-md-5">
            <h2 class="text-black"><b>Rules</b></h2>
            <p class="lead">
             <strong><b>1. Rules:</b></strong> The matches are held in accordance with the FIFA International Football
            Association Board regulations and the SAFA statute.<br>
            <strong> <b>2.Referees:</b></strong> The matches are led by referees nominated and announced before the tournament and teams can nominate a person(s) as a linesman a month before the tournament commences.<br>
            <strong><b> 3.Teams:</b></strong> Teams that have received an invitation letter have the right to take part in the tournament.</p>

            <p class="lead">
            <strong> <b>4.Team leader(s):</b></strong> Each team must be accompanied by a team leader above the age of 18, whose name, address, and date of birth are to be included on the player list to be circulated a month before the tournament. The team leader is responsible for the conduct of the players, not just at the sports grounds, but also at other social areas available to participants. Team leaders will also be included in the tournament Whatsapp group.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <img src="{{ url_for('static', filename='images/about_1.jpg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black"></h2>
            <p class="lead"><strong><b>5. Categories</b></strong><br><strong><b>A – Under 13:</b></strong> Players who were born on or after 01 January 2007<br>
            <strong><b>B – Under 15:</b></strong> Players who were born on or after 01 January 2005<br>
            <strong><b>C – Under 17:</b></strong> Players who were born on or after 01 January 2002<br>
           <strong> <b>D – Under 21:</b></strong> Players who were born on or after 01 January 1999<strong><b> (3 players under 23 years acceptable).</b></strong><br>
            <strpng><b>Control:</b></strpng> Before the start of the tournament, each team leader must submit a list of players to the tournament committee, on which the name and date of birth of each player are listed. All players must be in possession of a valid national ID card, Passport or birth certficate. <strong><b>NB! NO PLAYER WILL BE ALLOWED TO PLAY WITHOUT VALID DOCUMENTS.</b></strong></p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">

            <img src="{{ url_for('static', filename='images/rules.jpeg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pl-md-5">
            <h2 class="text-black"><b></h2>
            <p class="lead">
              <strong><b>6. Playing times</b></strong><br>
            Group stages expected playing times:
            <br>
            <strong><b>A – Under 13:</b></strong> 20 minutes per half<br>
            <strong><b>B – Under 15:</b></strong> 25 minutes per half<br>
            <strong><b>C – Under 17:</b></strong> 30 minutes per half<br>
           <strong><b>D – Under 21:</b></strong> 30 minutes per half<br>
            Semi-finals expected playing times:<br><strong><b> A – Under 13:</b></strong> 25 minutes per half <br><strong><b>B – Under 15:</b></strong> 30 minutes per half<br><strong><b> C – Under 18: 35 minutes per half</b></strong><br><strong><b> D – Under 21:</b></strong> 35 minutes per half <br>Finals expected playing times:<br>
             <strong><b>A – Under 13:</b></strong> 25 minutes per half<br>
            <strong><b>B – Under 15:</b></strong> 30 minutes per half<br>
            <strong><b>C – Under 18:</b></strong> 35 minutes per half<br>
            <strong><b>D – Under 21:</b></strong> 35 minutes per half<br>
            The exact duration of the playing times will be set after the creation of the match schedules.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <img src="{{ url_for('static', filename='images/about_1.jpg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black"></h2>
            <p class="lead"><strong><b>7. Ranking list</b></strong><br>group matches. The ranking lists are set based on the point score. The
            points are awarded as follows:<br>
           <strong><b> Win 3 points, draw 1 point , and loss 0 points.</b></strong><br>
           <strong><b> *</b></strong> If two teams have an equal number of points, the decision is firstly based on the goal difference as. <br><strong><b>*</b></strong>If this is equal, the deciding factor will be the match result in terms of direct comparison.<br><strong><b>*</b></strong> If this match ended in a draw, the greater number of goals becomes the deciding factor.<br>* If this is also a draw, an eleven or nine metre penalty shootout is carried out.</p>

            <p class="lead"><strong><b>*</b></strong> Teams which top their respective groups after all the group matches will progress to the semi-finals, with number 2 positioned team progressing as well.<br> Team positions will be determined by Rule number 7.<br>
            <strong><b>*</b></strong>If playoff matches or knockout-system matches end in a draw, these are immediately decided by an eleven or nine metre penalty shootout as per F.I.F.A. rules:<br>
            Semi-final.<br>
            For draws, an eleven or nine metre penalty shootout takes place as per F.I.F.A. rules
            Playoffs, if any.
            For draws, an eleven or nine metre penalty shootout takes place as per F.I.F.A. rules</p>
            
          </div>
        </div>
      </div>
    </div>
     <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 ">
            <img src="{{ url_for('static', filename='images/rules.jpeg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black"></h2>
            <p class="lead"><strong><b>8. Matches:</b></strong> Before every match, the team leader submits a list of players to the referee on which the substitute players are also listed. 5 substitutes can be substituted in or out any number of times. This is only possible during a break in a match, with approval by the referee. For an individual eleven metre penalty shootout, only those players that were on the pitch at the final whistle are admissible.</p>
            
          </div>
        </div>
      </div>
    </div> <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <img src="{{ url_for('static', filename='images/about_1.jpg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black"></h2>
            <p class="lead"><strong><b>9. Every club:</b></strong> should provide change kits clearly distinguishable from the club colours. If before the start of the match, the referee decides that the teams’ club colours are too similar, the first named club must play in its change kit.</p>

            
          </div>
        </div>
      </div>
    </div> 

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 ">
            <img src="{{ url_for('static', filename='images/img_2.jpeg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black"></h2>
            <p class="lead"><strong><b>10. Disciplinary measures:</b></strong> For youth matches, there are cautions (yellow cards), a time penalty (5 minutes), or send-offs (red cards).If a player has been sent off from the field or has received a caution, the referee will inform the tournament commission about this
            immediately after the match. Any player who has been sent off is suspended from the next match. <br>In the case of group matches, all results of a team are declared as void, if:<br> <strong><b>*</b></strong> The team in question is late for a match without a valid reason.<br><strong><b>*</b></strong> The team in question has played with an ineligible player.<br> <strong><b>*</b></strong> The referee makes the decision to cancel the match because of players’ bad behaviour.<br> <strong><b>*</b></strong> In intermediate and final rounds (if it is not a question of group matches) the relevant team in the above-named cases loses with a score of 0-3.</p>
            
          </div>
        </div>
      </div>
    </div> 

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <img src="{{ url_for('static', filename='images/about_1.jpg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black"></h2>
            <p class="lead"><strong> <b>11. Appeals:</b></strong> Appeals with regard to the referee’s decisions are not possible. Appeals with regard to other matters must be submitted in writing to the tournament committee by the team leader no later than 15 minutes after the match. The tournament committee also decides on all matters that are not stated in the rules. The committee’s decisions are binding.</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 ">
            <img src="{{ url_for('static', filename='images/img_2.jpeg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black"></h2>
            <p class="lead"><strong> <b>12. Match schedule:</b></strong> The tournament committee has the right to amend the match schedule in the case of unforeseen circumstances.</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <img src="{{ url_for('static', filename='images/img_3.jpeg') }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black"></h2>
            <p class="lead"><strong> <b>13. Liability:</b></strong> The participating clubs are themselves responsible for adequate insurance for the players. The organisers are not liable for personal injuries and damages to property or for the loss of participants’ belongings.</p>
            
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}